div.dashboard-widget-yrzgauge {
    display: grid;
    grid-template-rows: 1fr;
    padding: 0;
    overflow: hidden;
}

.yrzgauge {
    display: grid;
    align-items: center;
    justify-items: center; 
    box-sizing: content-box;
    padding: 10px;
    position: relative;
}  

.yrzgauge-title {
    color: #FFFFFF;
    line-height: 100%;
    font-size: calc(var(--content-height) * 0.14 / 1.14);
    font-weight: 700;
    margin-bottom: 10px;
}

.yrzgauge-value {
    position: absolute;
    line-height: 100%;
    font-size: calc(var(--content-height) * 0.15 / 1.14);
}

.yrzgauge-value SPAN {
    margin-left: 5px;
    font-size: calc(var(--content-height) * 0.10 / 1.14);
}

.yrzgauge-gauge {

}

.yrzgauge-gauge-threshold {
    
}

.yrzgauge-gauge-track {
    fill: #383838;
}

.yrzgauge-gauge-value {

}